---
name: checks

"on":
  pull_request:
    branches:
      - main
permissions:
  contents: read
  pull-requests: read

jobs:
  pre-commit:
    uses: broadinstitute/shared-workflows/.github/workflows/pre-commit.yaml@v6.0.0
  static-analysis:
    uses: broadinstitute/shared-workflows/.github/workflows/puppet-lint.yaml@v6.0.0
  unit-tests:
    uses: broadinstitute/shared-workflows/.github/workflows/puppet-unit-test.yaml@v6.0.0
