---
name: 'checks'

'on':
  pull_request:
    branches:
      - 'main'

jobs:
  pre-commit:
    uses: broadinstitute/shared-workflows/.github/workflows/pre-commit.yaml@v3.0.0
  static-analysis:
    uses: broadinstitute/shared-workflows/.github/workflows/puppet-lint.yaml@v3.0.0
  unit-tests:
    uses: broadinstitute/shared-workflows/.github/workflows/puppet-unit-test.yaml@v3.0.0
