---
name: 'deploy'

'on':
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  forge_deploy:

    runs-on: 'ubuntu-latest'

    steps:
      - name: 'Checkout repo'
        uses: 'actions/checkout@v3'

      - name: 'Set up Ruby'
        uses: 'ruby/setup-ruby@v1.144.1'
        env:
          BUNDLE_SILENCE_ROOT_WARNING: '1'
          BUNDLE_WITH: 'development'
        with:
          bundler-cache: true
          ruby-version: '2.7'
          rubygems: 'latest'

      - name: 'Module build'
        run: 'bundle exec pdk build --force'

      - name: 'Publish package to Puppet Forge'
        env:
          BLACKSMITH_FORGE_URL: 'https://forgeapi.puppet.com'
          BLACKSMITH_FORGE_API_KEY: ${{ secrets.BLACKSMITH_FORGE_API_KEY }}
        run: 'bundle exec rake module:push'
