---
name: test_build

"on":
  pull_request:
    branches:
      - main
permissions:
  contents: read
  pull-requests: read

jobs:
  test_build:
    uses: broadinstitute/shared-workflows/.github/workflows/puppet-build.yaml@v6.0.0
    with:
      puppet_package_name: broadinstitute-qualys_agent
