---
name: 'test_build'

'on':
  pull_request:
    branches:
      - 'main'

jobs:
  test_build:
    uses: broadinstitute/shared-workflows/.github/workflows/puppet-build.yaml@v3.2.0
    with:
      puppet_package_name: broadinstitute-qualys_agent
